#mainstream-div {
  height: 90vh;
 
}

#mainstream-div h2 {
  text-align: center;
  
}


#boombox-img {
  height: 8em;
  margin-top: 4em;
  /* position: absolute; */
  /* bottom: 8vh; */
 
}

#music-player {
  position: absolute;
  /* bottom: 0; */
}

#speakers-img{
  height: 12em;
  /* position: absolute; */
  /* bottom: 8vh; */
}


