#mainstream-div {
  /* height: 100vh; */
  /* background-image: url('../../assets/images/tv_background.jpeg'); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;  */
  
  /* background-position-x: 48%; */
  /* background-position-y: 200%; */
  
}

#mainstream-div h2 {
  font-size: 1.25em;
  text-align: center;
  margin-top: .5em;
  margin-bottom: .5em;
  
}

#world-on-fire {
  height: 24em;
  margin-top: .25em;
}

#boombox-img {
  height: 6em;
  margin-top: 6em;
  margin-bottom: .25em;
  /* position: absolute; */
  /* bottom: 8vh; */
 
}

#music-player {
  /* position: absolute; */
  margin-bottom: .5em;
  /* cursor: url('../../assets/cursor/sym57.cur'), auto; */
  /* bottom: 0; */
  height: 2em;
}

#speakers-img{
  height: 12em;
  /* position: absolute; */
  /* bottom: 8vh; */
}


