#mainstream-div {
  /* height: 100vh; */
  /* background-image: url('../../assets/images/pixel_world_on_fire_cropped.png');   */
  /* background-size: cover;  */
  /* background-repeat: no-repeat; */
  /* background-position: center;   */
  
  /* background-position-x: 48%; */
  /* background-position-y: 200%; */
  /* background-color: blue; */
}

/* #mainstream-div h2 {
  font-size: 1.25em;
  text-align: center;
  margin-top: .5em;
  margin-bottom: .5em;
} */

#mainstream-div h2 {
  font-size: 32px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: .25em;
}

.mainstream-paper {
  background-image: url('../../assets/images/pixel_world_on_fire_cropped.png');
  background-size: 13.75em;
  background-repeat: no-repeat;
  
  background-position: 50% 10%;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  /* margin: 2em; */
  margin-bottom: 0em;
  height: 33em;
  
}

.mainstream-marquee-text {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: .5em;
  margin-bottom: .5em;
  color: blue;
}

.marquee-patreon-link {
  /* text-decoration: none; */
  color: red;
}

/* guitarist body grid */
#guitarist-body-grid {
  margin-bottom: 0em;
}

/* guitarists */
/* guitarist head */
#guitarist-head-grid {
  margin-bottom: 0em
}
.guitarist-skull{
  height: 2em;
  margin-bottom: -17.8em;
  margin-left: 0.1em;
}

@media (prefers-reduced-motion: no-preference) {
  .guitarist-skull {
    animation: guitarist-head-nod infinite alternate .70s linear;
    /* animation: header-guitar-spin infinite 10s reverse; */
  }
}

@keyframes guitarist-head-nod {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

/* guitarist bodies */
.guitarist-body{
  height: 4em;
  margin-top: 0em;
  margin-bottom: -20.75em;
  margin-left: 0em;
}

@media (prefers-reduced-motion: no-preference) {
  .guitarist-body {
    animation: skeleton-guitarist-body-rock infinite alternate-reverse .70s linear;
    /* animation: header-guitar-spin infinite 10s reverse; */
  }
}

@keyframes skeleton-guitarist-body-rock {
  from {
    transform: rotate(-4deg);
  }
  to {
    transform: rotate(4deg);
  }
}


/* guitarist right arm */

#guitar-right-arm-grid {
  margin-bottom: 0em;
}
.guitarist-right-arm {
  height: 1.8em;
  margin-bottom: -17.65em;
  margin-left: -1.8em;
  position: relative;
  z-index: 2;
}

@media (prefers-reduced-motion: no-preference) {
  .guitarist-right-arm {
    animation: guitar-right-arm-strum infinite alternate .70s linear;
    /* animation: header-guitar-spin infinite 10s reverse; */
  }
}

@keyframes guitar-right-arm-strum {
  from {
    transform: rotate(24deg);
  }
  to {
    transform: rotate(-20deg);
  }
}

.guitarist-left-arm {
  height: 1.5em;
  margin-bottom: -16.4em;
  margin-left: 3em;
  position: relative;
  z-index: 2;
}

@media (prefers-reduced-motion: no-preference) {
  .guitarist-left-arm {
    animation: guitar-left-arm-strum infinite  alternate .70s linear;
    /* animation: header-guitar-spin infinite 10s reverse; */
  }
}

@keyframes guitar-left-arm-strum {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(12deg);
  }
}

/* guitars */

#guitar-grid {
  margin-top: 0em;
}

.mainstream-guitar{
  height: 2em;
  margin-bottom: -15.75em;
  margin-top: 0em;
  margin-left: -.2em; 
}

@media (prefers-reduced-motion: no-preference) {
  .mainstream-guitar {
    animation: mainstream-guitar-spin infinite alternate .70s linear;
    /* animation: header-guitar-spin infinite 10s reverse; */
  }
}

@keyframes mainstream-guitar-spin {
  from {
    transform: rotate(-12deg);
  }
  to {
    transform: rotate(10deg);
  }
}


/* drummer */
#drummer-head-grid {
  margin-top: 0em;
  margin-bottom: 0em;
}

#mohawk-skull {
  height: 2.5em;
  margin-top: 0em;
  margin-bottom: -15.75em;
  margin-left: -0.1em;
  z-index: 2;
}

@media (prefers-reduced-motion: no-preference) {
  #mohawk-skull {
    animation: mohawk-head-nod infinite alternate .70s linear;
    /* animation: header-guitar-spin infinite 10s reverse; */
  }
}

@keyframes mohawk-head-nod {
  from {
    transform: rotate(12deg);
  }
  to {
    transform: rotate(-12deg);
  }
}

#drummer-body-grid {
  margin-top: 0em;
  margin-bottom: 0em;
}

.drummer-body {
  height: 3em;
  margin-top: 0em;
  margin-bottom: -15.25em;
  margin-left: -0.2em;
  z-index: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .drummer-body{
    animation: drummer-body-rock infinite alternate-reverse .70s linear;
  }
}

@keyframes drummer-body-rock {
  from {
    transform: rotate(6deg);
  }
  to {
    transform: rotate(-6deg);
  }
}

.drummer-right-arm {
  height: 2.5em;
  margin-top: 0em;
  margin-bottom: -16em;
  margin-left: 0em;
  position: relative;
  z-index: 3;
}

@media (prefers-reduced-motion: no-preference) {
  .drummer-right-arm{
    animation: drummer-right-arm-rock infinite alternate-reverse .70s linear;
  }
}

@keyframes drummer-right-arm-rock {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(-60deg);
  }
}

.drummer-left-arm {
  height: 2.25em;
  margin-bottom: -15.65em;
  margin-left: 0em;
  position: relative;
  z-index: 2;
}

@media (prefers-reduced-motion: no-preference) {
  .drummer-left-arm{
    animation: drummer-left-arm-rock infinite alternate .70s linear;
  }
}

@keyframes drummer-left-arm-rock {
  from {
    transform: rotate(50deg);
  }
  to {
    transform: rotate(30deg);
  }
}

#speakers-drums-grid {
  margin-top: 0em;
}

/* drums */
.drums {
  height: 4em;
  margin-bottom: -14.7em;
  padding-bottom: 0em;
  position: relative;
  z-index: 1;
}


/* speakers */
#speakers-img{
  height: 4em;
  margin-bottom: -14.7em;
  /* position: absolute; */
  /* bottom: 8vh; */
}

#mainstream-audio-player-grid {
  margin-top: 0em;
}

.mainstream-react-h5-audio-player {
  margin-top: 14.5em;
  outline: gray solid 1px;
  position: relative;
}

/* cursor */
.rhap_container svg  {
  cursor: url('../../assets/cursor/sym57.cur'), auto;
}
