#mainstream-div {
  /* height: 100vh; */
  /* background-image: url('../../assets/images/tv_background.jpeg'); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;  */
  
  /* background-position-x: 48%; */
  /* background-position-y: 200%; */
  /* background-color: blue; */
}

/* #mainstream-div h2 {
  font-size: 1.25em;
  text-align: center;
  margin-top: .5em;
  margin-bottom: .5em;
} */
.mainstream-paper {
  margin: 2em;
  margin-bottom: 0em;
  height: 33em;
  
}
.marquee-text {
  text-align: center;
  font-size: 1.25em;
  text-align: center;
  margin-top: .5em;
  margin-bottom: .5em;
}

#world-on-fire {
  height: 12em;
  margin-top: .25em;
  margin-bottom: .5em;
}

/* guitarists */
/* guitarist bodies */
.skeleton-guitarist{
  height: 4em;
  margin-bottom: -20.2em;
  margin-left: 0.5em;
}

/* guitars */
.mainstream-guitar{
  height: 2em;
  margin-bottom: 0.5em;
  margin-top: 2.8em;
  margin-left: -0em;
  
}

@media (prefers-reduced-motion: no-preference) {
  .mainstream-guitar {
    animation: mainstream-guitar-spin infinite alternate .70s linear;
    /* animation: header-guitar-spin infinite 10s reverse; */
  }
}

@keyframes mainstream-guitar-spin {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(-10deg);
  }
}

/* guitarist arm */
.guitarist-arm {
  height: 2em;
  margin-bottom: -5.3em;
  margin-right: 2em;
  position: relative;
  z-index: 2;
}

@media (prefers-reduced-motion: no-preference) {
  .guitarist-arm {
    animation: guitar-arm-strum infinite alternate .70s linear;
    /* animation: header-guitar-spin infinite 10s reverse; */
  }
}

@keyframes guitar-arm-strum {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(-10deg);
  }
}

/* guitarist head */
.guitarist-skull{
  height: 2em;
  margin-bottom: -17.25em;
}

@media (prefers-reduced-motion: no-preference) {
  .guitarist-skull {
    animation: guitarist-head-nod infinite alternate .70s linear;
    /* animation: header-guitar-spin infinite 10s reverse; */
  }
}

@keyframes guitarist-head-nod {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

/* drummer */
#mohawk-skull {
  height: 2.5em;
  margin-top: 0em;
  margin-bottom: -1em;
}

@media (prefers-reduced-motion: no-preference) {
  #mohawk-skull {
    animation: mohawk-head-nod infinite alternate .70s linear;
    /* animation: header-guitar-spin infinite 10s reverse; */
  }
}

@keyframes mohawk-head-nod {
  from {
    transform: rotate(12deg);
  }
  to {
    transform: rotate(-12deg);
  }
}


/* #skeleton-drummer-body {
  height: 6em;
  margin-top: 0em;
  margin-bottom: -8em;
} */

/* #boombox-img {
  height: 6em;
  margin-top: 6em;
  margin-bottom: 0em;
} */

/* drums */
.drums {
  height: 4em;
  margin-bottom: -3.25em;
  padding-bottom: 0em;
}


/* speakers */
#speakers-img{
  height: 4em;
  
  margin-bottom: -3.25em;
  /* position: absolute; */
  /* bottom: 8vh; */
}

.mainstream-react-h5-audio-player {
  margin-top: 3.25em;
  outline: gray solid 1px;
}


/* cursor */
.rhap_container svg  {
  cursor: url('../../assets/cursor/sym57.cur'), auto;
}
