.pixel-record {
    height: 8em;
}

.album-tracks-audio-player {
  width: 14em;
  height: 2em;
}

#album-tracks-section {
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

#track-title {
  font-size: 1.75em;
  padding-top: 0.25em;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.MuiGrid2-root.MuiGrid2-direction-xs-row.css-27y2fm-MuiGrid2-root {
    padding: 0;
}

.track-download {
    /* cursor: pointer; */
    cursor: url('../../assets/cursor/sym57.cur'), auto;
    color: blue;
    margin-top: 1em;
}

.track-paper {
  height: 20em;
}

.download-title-msg {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.react-h5-audio-player {
  margin-top: 2px;
  margin-bottom: 4px;
}

.rhap_container svg  {
  cursor: url('../../assets/cursor/sym57.cur'), auto;
}