#album-headline {
  font-size: 48px;
  text-align: center;
  color: black;
}
  
#album-sub-headline {
  font-size: 42px;
  color: black;
  text-align: center;
}

#album-headline-plain-text {
  font-size: 28px;
  color: black;
  margin-bottom: .25em;
  text-align: center;
}

.album-patreon-link {
  text-decoration: none;
  cursor: url('../../assets/cursor/sym57.cur'), auto;
}


/* .album-marquee-text {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: .5em;
  margin-bottom: .5em;
  color: blue;
} */

/* .marquee-patreon-link {
  color: red;
} */

@media screen and (max-width: 900px) {
  /* #album-headline {
    font-size: 48px;
  }
    
  #album-sub-headline {
    font-size: 42px;
  }
  
  #album-headline-plain-text {
    font-size: 24px;
  } */

}

/* @media screen and (max-width: 600px) {

} */

@media screen and (max-width: 484px) {
  #album-headline {
    font-size: 42px;
  }
    
  #album-sub-headline {
    font-size: 36px;
  }
  
  #album-headline-plain-text {
    font-size: 24px;
  }
  
}


@media screen and (max-width: 420px) {
  #album-headline {
    font-size: 36px;
  }
    
  #album-sub-headline {
    font-size: 32px;
  }
  
  #album-headline-plain-text {
    font-size: 24px;
  }
}

/* @media screen and (max-width: 400px) {

} */

@media screen and (max-width: 300px) {
  #album-headline {
    font-size: 30px;
  }
    
  #album-sub-headline {
    font-size: 24px;
  }
  
  #album-headline-plain-text {
    font-size: 20px;
  }
}