.component-guitarist-skull {
  height: 2em;
  margin-bottom: -12.1em;
  margin-left: -.05em;
  z-index: 2;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .component-guitarist-skull {
    animation: component-guitarist-head-nod infinite alternate .70s linear;
  }
}

@keyframes component-guitarist-head-nod {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

.component-guitarist-right-arm {
  height: 1.55em;
  margin-bottom: -10.22em;
  margin-left: -1.48em;
  z-index: 2;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .component-guitarist-right-arm {
    animation: component-guitar-right-arm-strum infinite alternate .70s linear;
  }
}

@keyframes component-guitar-right-arm-strum {
  from {
    transform: rotate(10deg);
    /* transform: rotate(-14deg); */
  }
  to {
    transform: rotate(-14deg);
  }
}

.component-guitarist-left-arm {
  height: 1.25em;
  margin-bottom: -6.8em;
  margin-left: 2.5em;
  position: relative;
  z-index: 2;
}

@media (prefers-reduced-motion: no-preference) {
  .component-guitarist-left-arm {
    animation: component-guitar-left-arm-strum infinite  alternate .70s linear;
  }
}

@keyframes component-guitar-left-arm-strum {
  from {
    /* transform: rotate(2deg); */
    transform: rotate(6deg);
  }
  to {
    transform: rotate(1deg);
    /* transform: rotate(6deg); */
  }
}

.component-guitar{
  height: 1.25em;
  margin-bottom: -4.35em;
  margin-left: .5em;
  z-index: 1;
  position:relative;
}

@media (prefers-reduced-motion: no-preference) {
  .component-guitar {
    animation: component-guitar-spin infinite alternate .70s linear;
  }
}

@keyframes component-guitar-spin {
  from {
    transform: rotate(-14deg);
    /* transform: rotate(-6deg); */
  }
  to {
    transform: rotate(-6deg);
  }
}

.component-guitarist-body {
  height: 3.25em;
  margin-bottom: 0em;
}

@media (prefers-reduced-motion: no-preference) {
  .component-guitarist-body {
    animation: component-guitarist-body-rock infinite alternate-reverse .70s linear;
  }
}

@keyframes component-guitarist-body-rock {
  from {
    transform: rotate(-3deg);
    /* transform: rotate(0deg); */
  }
  to {
    transform: rotate(3deg);
    /* transform: rotate(0deg); */
  }
}

