/* Header */
/* header {
  background-image: url('../../assets/images/pink_grid_sun_bckgrnd_lrg.png'); 
  background-size: cover;
  background-repeat:repeat-y;
  /* background-position: center; */
  /* background-position-x: 48%; */
  /* background-position-y: 200%; 
} */
.header-mohawk-skull {
    height: 3em;
    margin-top: 0em;
}

.header-earth {
  height: 6em;
  margin-top: .25em;
}

  .header-paper {
    margin: 1em;
    margin-bottom: .5em;
  }
  
  
  .font-effect-fire-animation {
    /* margin-top: .5em; */
  }
  .header-headline  {
    /* margin-top: .25em; */
    font-size: 60px;
    
    color:black;
    margin-top: .5em;
    /* margin-bottom: 0; */
    /* margin-left: 20px;
    margin-right: 20px; */
    
  }


/* begin mediq queries for responsve sizing */
@media screen and (max-width: 1536px) {
  /* .header-mohawk-skull {
    height: 5em;
    margin-top: .75em;
  }

  .header-headline  {
    font-size: 72px;
  } */
}

@media screen and (max-width: 1200px) {
  .header-mohawk-skull {
    /* height: 4em;
    margin-top: .75em; */
  }

  .header-headline  {
    /* font-size: 60px; */
  }
}

@media screen and (max-width: 900px) {

  .header-earth {
    height: 5em;
    margin-top: 0em;
  }

  .header-headline  {
    font-size: 46px;
  }
}

@media screen and (max-width: 600px) {

  .header-earth {
    height: 4.5em;
  }

  .header-headline  {
    font-size: 34px;
  }
}

@media screen and (max-width: 484px) {

  .header-headline  {
    font-size: 30px;
  }

  .header-earth {
    height: 3.25em;
  }
}


@media screen and (max-width: 420px) {

  .header-headline  {
    font-size: 28px;
  }

  .header-earth {
    height: 3em;
  }

  
}

@media screen and (max-width: 400px) {

  .header-earth {
    height: 2.8em;
  
  }

  .header-headline  {
    font-size: 26px;
  }
}

@media screen and (max-width: 300px) {

  .header-earth {
    height: 2.25em;
    
  }

  .header-headline  {
    font-size: 18px;
  }
}