/* Header */
/* header {
  background-image: url('../../assets/images/pink_grid_sun_bckgrnd_lrg.png'); 
  background-size: cover;
  background-repeat:repeat-y;
  /* background-position: center; */
  /* background-position-x: 48%; */
  /* background-position-y: 200%; 
} */
.header-mohawk-skull {
    height: 6em;
    margin-top: .75em;
    /* animation: App-logo-spin infinite 8s linear; */
  }

  .header-paper {
    margin: 1em;
    margin-bottom: .5em;
  }
  
  
  .font-effect-fire-animation {
    margin-top: .5em;
  }
  .header-headline  {
    font-size: 74px;
    /* margin-top: .5em;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  }


/* begin mediq queries for responsve sizing */
@media screen and (max-width: 1536px) {
  .header-mohawk-skull {
    height: 5em;
    margin-top: .75em;
  }

  .header-headline  {
    font-size: 72px;
  }
}

@media screen and (max-width: 1200px) {
  .header-mohawk-skull {
    height: 4em;
    margin-top: .75em;
  }

  .header-headline  {
    font-size: 60px;
  }
}

@media screen and (max-width: 900px) {

  .header-mohawk-skull {
    height: 3em;
    margin-top: .75em;
  }

  .header-headline  {
    font-size: 50px;
  }
}

@media screen and (max-width: 600px) {

  .header-mohawk-skull {
    height: 2em;
  }

  .header-headline  {
    font-size: 35px;
  }
}


@media screen and (max-width: 400px) {

  .header-mohawk-skull {
    height: 1.8em;
    
  }

  .header-headline  {
    font-size: 32px;
  }
}