/* Header */
/* header {
  background-image: url('../../assets/images/pink_grid_sun_bckgrnd_lrg.png'); 
  background-size: cover;
  background-repeat:repeat-y;
  /* background-position: center; */
  /* background-position-x: 48%; */
  /* background-position-y: 200%; 
} */
.header-mohawk-skull {
    height: 2em;
    margin-top: 0em;
    /* animation: App-logo-spin infinite 8s linear; */
  }

  .header-paper {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .header-guitar {
      animation: header-guitar-spin infinite alternate .70s linear;
      /* animation: header-guitar-spin infinite 10s reverse; */
    }
  }
  
  @keyframes header-guitar-spin {
    from {
      transform: rotate(-30deg);
    }
    to {
      transform: rotate(-10deg);
    }
  }
  .font-effect-fire-animation {
    margin-top: .5em;
  }
  .header-headline  {
    font-size: 34px;
    /* margin-top: .5em;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  }