#tour-div {
  /* height: 90vh; */
}

#tour-headline {
  font-size: 32px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: .25em;
  text-align: center;
}

#tour-div h3 {
  text-align: center;
}

#tour-div p {
    text-align: center;
    color: blue;
}

.tour-marquee-text {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: .5em;
  margin-bottom: .5em;
  color: blue;
}

.marquee-patreon-link {
  /* text-decoration: none; */
  color: red;
}