#video-title {
  color: black;
  font-size: 24px;
  padding-top: 0em;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

#video-original-artist {
  color: black;
  font-size: 24px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  margin-top: -1.45em;
}

#video-location {
  color: black;
  font-size: 24px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  margin-top: -1.9em;
}

#video-gallery-section {
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin-top: -1em;
    margin-bottom: -1em;
  }

.video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.nation-flag {
  margin-top: .5em;
  margin-bottom: -.5em;
}


@media screen and (max-width: 300px) {
  #video-title {
    font-size: 1.25em;
  }
  
  #video-original-artist {
    font-size: 1.25em;
  }
  
  #video-location {
    font-size: 1.25em;
  }
  
  
}