.font-link {
  font-family: 'VT323';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'VT323', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header */
.header-guitar {
  height: 8em;
  animation: App-logo-spin infinite 8s linear;
}

.headline {
  margin-left: 60px;
  margin-right: 60px;
}


h1 {
  font-size: 100px;
}

h2 {
  font-size: 75px;
}

h3 {
  font-size: 50px;
}