nav {
  margin-top: .5em;
  margin-bottom: .5em;
}

nav li {
  cursor: url('../../assets/cursor/sym57.cur'), auto;
}


#nav-list-item {
  list-style: none;
  font-size: 26px;
  color: blue;
}

.navActive {
  text-shadow: 0 0 10px blue;
  font-weight: bold;
  
}

.nav-patreon-link {
  text-decoration: none;
}


/* begin mediq queries for responsve sizing */
@media screen and (max-width: 1536px) {
  #nav-list-item {
    /* font-size: 32px; */
  }
}

@media screen and (max-width: 1200px) {
  #nav-list-item {
    /* font-size: 26px; */
  }
}

@media screen and (max-width: 900px) {
  #nav-list-item {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  #nav-list-item {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  #nav-list-item {
  font-size: 12px;
  }
}
