nav {
  margin-top: .5em;
  margin-bottom: .5em;
}

nav li {
  /* cursor: pointer; */
  cursor: url('../../assets/cursor/sym57.cur'), auto;
}

#nav-list-item {
  list-style: none;
  font-size: 24px;
  text-decoration: none;
  color: blue;
}

.navActive {
  text-shadow: 0 0 10px blue;
}
